
header{
  position: sticky;
  top: 0px;
  left: 0px;
  font-size: 1.3rem;
  z-index: 1000;
  font-family: var(--secondary-font);
}

header .header-top{
  padding: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-image: linear-gradient(var(--background-header-color), var(--background-header-color-secondary));
  z-index: 100;
  box-shadow: 0rem 0rem 5px rgb(21, 22, 22);
}

header .header-top.open{
  box-shadow: none;
}

header .header-menu{
  background-image: linear-gradient(var(--background-menu-color), var(--background-menu-color-opacity));
  width: 100%;
  transform: translateY(-70px);
  opacity: 0;
  box-shadow: 0rem 0rem 5px rgb(21, 22, 22);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

header .header-menu.open{
  transform: translateY(0px);
  opacity: 1;
}

header .header-top nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

header .header-top nav a{
  padding: 0rem 0.5rem;
}

header .logo{
  font-size: 2rem;
}

header .logo svg{
  font-size: 2rem;
  margin-right: 0.5rem;
  transform: scale(0.9);
}

header .logo:hover svg{
  transform: rotate(180deg) scale(1)
}

