header{
  position: sticky;
  top: 0px;
  left: 0px;
  font-size: 1.8rem;
  z-index: 1000;
  font-family: var(--secondary-font);
}

header .header-top{
  padding: 0.3rem 1.5rem 0rem 1.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-image: linear-gradient(var(--background-header-color), var(--background-header-color-secondary));
  z-index: 100;
  box-shadow: 0rem 0rem 3px rgb(21, 22, 22);
}

header .header-top.open{
  box-shadow: none;
}

header .header-menu{
  background-image: linear-gradient(var(--background-menu-color), var(--background-menu-color-opacity));
  width: 100%;
  transform: translateY(-70px);
  opacity: 0;
  box-shadow: 0rem 0rem 3px rgb(21, 22, 22);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

header .header-menu a{
  padding: 0.2rem 2rem 0rem 2rem;
}

header .header-menu.open{
  transform: translateY(0px);
  opacity: 1;
}

header .header-top nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

header .header-top nav a{
  padding: 0rem 1rem;
}

header .logo{
  font-size: 2.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  
}

header .logo svg{
  font-size: 3.5rem;
  margin-right: 0.5rem;
  transform: scale(0.9);
  color: var(--link-color)
}
header .logo:hover svg{
  transform: rotate(180deg) scale(1);
  color: var(--link-hover-color)

}

header a,
header .hamburger{
  color: var(--header-text-color);
}
header a:hover,
header .hamburger.opened{
  color: var(--link-color);
}

header .hamburger{
  cursor: pointer;
}

header .thumbnail{
  margin-right: 0.7rem;
}

@media screen and (max-width : 768px){
  header .header-top nav a,
  header .header-top nav .hamburger,
  header .header-top nav .logout{
    padding: 0rem;
    margin-left: 0.5rem;
    font-size: 3.2rem;
  }

  header .thumbnail{
    margin-right: 0rem;
  }

}

@media screen and (max-width : 480px){
  header .header-menu{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    position: absolute;
    top: 0px;
    left: 0px;
  }
  header .header-menu.open{
    transform: translateX(0px);
    opacity: 1;
  }

}