:root{
  --background-color: #35393b;
  --main-text-color: white;
  --link-color: rgb(255, 239, 210);
  --link-hover-color: rgb(255, 216, 143);
  --background-header-color: rgb(20, 22, 22);
  --background-header-color-secondary: rgb(35, 38, 39, 0.95);
  --background-menu-color: rgb(27, 29, 31);
  --background-menu-color-opacity: rgba(35, 38, 39, 0.95);
  --first-font: Arial, Helvetica, sans-serif;
  --secondary-font : 'IBM Plex Sans', sans-serif;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: ease-in-out 0.3s;
}

body{
  background-image: linear-gradient(var(--background-color), var(--background-header-color));
  color: var(--main-text-color);
  font-family: var(--first-font);
  min-height: 100vh;
}

a{
  color: var(--link-color);
  text-decoration: none;
}

a:hover{
  color: var(--link-hover-color);
  text-decoration: none;
}

h1, h2, h3, h4, h5{
  font-family: var(--secondary-font);
  color: var(--link-color);
}

main{
  padding: 1rem;
}

main section{
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

main section a {
  padding: 1rem;
}

main article{
  background-color: white;
  color: rgb(29, 29, 29);
}
