.card {
  font-family: var(--secondary-font);
  font-size: 0.9rem;
  width: 10rem;
  height: 13rem;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  transition: 0.2s;
  color: var(--link-color);
  background: radial-gradient(rgba(255, 234, 206, 1),rgba(243, 149, 48, 0.7), rgba(143, 113, 88, 0.3), rgba(53, 57, 59, 0.1));
  background: radial-gradient(rgb(206, 237, 255),rgba(48, 116, 243, 0.7), rgba(88, 103, 143, 0.3), rgba(53, 57, 59, 0.1));
  text-orientation: upright;
}

@keyframes gradient1 {
  0% {
    background-position: 0% 0%;
  }
  50%{
    background-position: 50% 10%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@keyframes gradient2 {
  0% {
    background-position: 100% 10%;
  }
  50%{
    background-position: 50% 20%;
  }
  100% {
    background-position: 0% 10%;
  }
}
@keyframes gradient3 {
  0% {
    background-position: 10% 20%;
  }
  50%{
    background-position: 60% 30%;
  }
  100% {
    background-position: 110% 20%;
  }
}
