.card {
  font-family: var(--secondary-font);
  width: 15rem;
  height: 15rem;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  color: var(--link-color);
  background: radial-gradient(rgba(255, 234, 206, 1),rgba(243, 149, 48, 0.7), rgba(143, 113, 88, 0.3), rgba(53, 57, 59, 0.1));
  background: radial-gradient(rgb(206, 237, 255),rgba(48, 116, 243, 0.7), rgba(88, 103, 143, 0.3), rgba(53, 57, 59, 0.1));
  text-orientation: upright;
  background-size: cover;
  background-position: center;
}

.card h4{
  padding: 1.5rem 0.5rem;
  background-image: linear-gradient(rgba(0, 7, 10, 0.9), rgba(0, 8, 12, 0));
  width: 100%;
}

@keyframes gradient1 {
  0% {
    background-position: 0% 0%;
  }
  50%{
    background-position: 50% 10%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@keyframes gradient2 {
  0% {
    background-position: 100% 10%;
  }
  50%{
    background-position: 50% 20%;
  }
  100% {
    background-position: 0% 10%;
  }
}
@keyframes gradient3 {
  0% {
    background-position: 10% 20%;
  }
  50%{
    background-position: 60% 30%;
  }
  100% {
    background-position: 110% 20%;
  }
}

@media screen and (max-width : 480px){
  .card{
    height: 100%;
    width: 100%;
  }
}