.jeu-de-role{
  padding: 3rem;
  padding-top: 0rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.jeu-de-role-content{
  padding: 2rem 0rem;
}

.jeu-de-role-header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}



.jeu-de-role .img{
  width: 20rem;
  height: 20rem;
  background-position: center;
  background-size: cover;
  margin-right: 1rem;
  border-radius: 1rem;
}

.jeu-de-role .mj{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.jeu-de-role .mj .thumbnail{
  margin : 0rem 0.5rem
}

.jeu-de-role .back{
  flex-basis: 100%;
}

@media screen and (max-width : 768px){
  .jeu-de-role{
    flex-flow : row wrap;
  }
}