.personnage-secondaire{
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  max-width: 120rem;
}

.personnage-secondaire-content{
  padding: 1rem 0rem;
}

.personnage-secondaire-main{
  padding: 5rem;
  background-color: white;
  max-width: 100%;
}

.personnage-secondaire-header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}

.personnage-secondaire-main h1,
.personnage-secondaire-main h2,
.personnage-secondaire-main h3,
.personnage-secondaire-main h4,
.personnage-secondaire-main h5,
.personnage-secondaire-main .personnage-secondaire-content {
  color: var(--background-header-color)
}

.personnage-secondaire-main a{
  color: var(--link-hover-color);
  text-decoration: underline transparent;
}
.personnage-secondaire-main a:hover{
  text-decoration: underline;
}

.personnage-secondaire .img{
  width: 20rem;
  height: 20rem;
  background-position: center;
  background-size: cover;
  margin-right: 2rem;
}

.personnage-secondaire-header h5{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

.personnage-secondaire .joueur .thumbnail,
.personnage-secondaire .jdr a{
  margin : 0rem 0.5rem
}

.personnage-secondaire aside{
  padding: 1rem ;
  min-width: 22rem;
  background-image: linear-gradient(var(--background-header-color), transparent);
  margin-left: 1rem;
}
.personnage-secondaire aside h4{
  text-align: center;
  width: 100%;
}

.personnage-secondaire aside .img{
  margin: 0rem;
}

.personnage-secondaire aside li a{
  display: inline;
}

@media screen and (max-width : 768px){
  .personnage-secondaire{
    flex-flow : column wrap;
  }

  .personnage-secondaire aside{
    position: static;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0px;
  }

  .personnage-secondaire aside>div{
    padding: 0.5rem;
  }

  .personnage-secondaire aside h4,
  .personnage-secondaire aside h5{
    text-align: center;
  }

  .personnage-secondaire aside p,
  .personnage-secondaire aside li{
    padding-left: 0rem;
  }
  
}

@media screen and (max-width: 480px){
  
  .personnage-secondaire-header{
    flex-flow : column nowrap;
    max-width: 100%;
  }

  .personnage-secondaire-header .img{
    margin: 0px;
  }
  
  .personnage-secondaire-main{
    padding: 2rem
  }

  .personnage-secondaire{
    padding: 0rem;
  }
}
