.secondary-characters-list{
  padding-top: 0px;
  margin-top: -1rem;
}

.secondary-characters-list-title-box{
  position: relative;
}

@media screen and (max-width : 768px){
  .secondary-characters-list-title{
    text-align: center;
  }
}